* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  overflow-x: hidden;
}

section.code-editor {
  max-width: 1024px;
  padding: 20px 30px;
  margin: 10px auto;
  display: flex;
  flex-direction: column;
  gap: 2em;
}

form {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 1.6em;
}

textarea {
  padding: 10px;
  font-family: monospace;
  text-overflow: ellipsis;
  white-space: nowrap;
  border: 1px solid #22232342;
}

label {
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 10px;
  background-color: rgb(255, 224, 255);
}

label span.icon {
  display: block;
  width: 24px;
  height: 24px;
  margin-right: 10px;
}

label span.icon.html {
  background: url(icon/html-5.svg) no-repeat;
  background-position: center;
  background-size: contain;
}
label span.icon.css {
  background: url(icon/css-3.svg) no-repeat;
  background-position: center;
  background-size: contain;
}
label span.icon.js {
  background: url(icon/js.svg) no-repeat;
  background-position: center;
  background-size: contain;
}

iframe {
  border: 1px solid #22232342;
  width: 100%;
  min-height: 400px;
}

/* seeFullScreen */

button#seeFullScreen,
button#exitFullScreen {
  all: unset;
  width: max-content;
  padding: 1em 1.5em;
  border: 1px solid #22232342;
  border-radius: 8px;
  cursor: pointer;
  background: white;
}

button#exitFullScreen {
  position: absolute;
}

.frame-wrapper {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  background: #22232342;
  opacity: 0;
  z-index: -1;
  transition: 0.2s;
  overflow-x: hidden;
}

.frame-wrapper iframe {
  width: 100%;
  height: 100%;
  border: none;
}

.frame-wrapper.fullscreen {
  opacity: 1;
  z-index: 1;
}
